body {
  color: #494949;
  font-size: 1.2em;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0 auto;
  width: 95%;
}

.banner {
  background-image: url("vieux_lyon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin: 0 auto;
  color: white;
  padding: 120px 0;
  text-align: center;
  font-size: 1.5em;
}

.container {
  width: 60%;
  margin: 50px auto;
}

.container a {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #494949;
  padding: .2em .4em;
  font-style: italic;
  text-decoration: none;
}

.container a:hover {
  background-image: linear-gradient(to bottom, rgb(118, 206, 158), rgb(94, 201, 142));
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
